<app-player 
*ngFor="let player of game.players; let i = index;" 
[ngStyle]="{'top.px': 100 + (i*90)}" [name]="player"
[playerActive]="i== game.currentPlayer"
class="player_position hide-desktop"></app-player>


<div class="scroll-container hide-desktop">
    <app-player-mobile 
    *ngFor="let player of game.players; let i = index;" [name]="player"
    [playerActive]="i== game.currentPlayer"
    ></app-player-mobile>
</div>




<div class="field">
    <div class="card_stack">
        <!--cardstack-->
        <img *ngFor="let c of [0,1,2,3]; let i = index;" [ngStyle]="{'right.px' : i * 5}"
            src="assets/img/playing_cards/card_cover.png">
        <img (click)="takeCard()" class="top_card" style="right: 25px;" 
        src="assets/img/playing_cards/card_cover.png">
        <!--played cardstack-->
        <img *ngFor="let card of game.playedCards" class="played_card" src="assets/img/playing_cards/{{ card }}.png" alt="">
        <!--card animation flying-->
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick_card" style="right: 25px;" 
        src="assets/img/playing_cards/{{ currentCard }}.png">

        
    </div>
</div>

<app-game-info [card]="currentCard" class="pin-bottom"></app-game-info>

<button mat-fab color="primary" (click)="openDialog()" class="btn_add">
    <mat-icon>add</mat-icon>
</button>