/* You can add global styles to this file, and also import other style files */
body
    margin: 0
    padding: 0

@media  ( max-width: 720px )
    .hide-desktop
        display: flex
    .hide-mobile
        display: flex

html
    overflow: hidden
    